
.contact-me {
    background: rgba(0, 0, 0, 0.178);
    padding: 20px 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    margin: 0 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 1px #000000a8;

    .stats {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        width: 100%;

        img:first-child {
            width: 40%;
        }


        img:last-child {
            width: 39.5%;
        }
    }
}

@media screen and (max-width: 800px) {
    .contact-me {
        padding: 10px 20px;
        .stats {
            flex-direction: column;
            img {
                width: 100% !important;
                padding: 10px 0;
            }
        }
    }
}
