@import './@styles/loader';
@import './@styles/portfolio';
@import './@styles/work';
@import './@styles/landing';
@import './@styles/contact';
@import './@styles/about';
@import './@styles/skills';

* {
    -webkit-tap-highlight-color: transparent;
}

.no-overflow {
    overflow: hidden;
}

.flex {
    display: flex;
}

.main-content {
    padding: 3% 5%;

    >div {
        margin-bottom: 35px;
    }

    @media screen and (max-width: 800px) {
        padding: 5% 3%;
    }
}

.section {
    .header {
        font-size: 20px;
        text-align: center;
    }
    .content {
        
    }
}
