html {
    background: #010C15;
}

body {
    margin: 0;
    padding: 10px;
    height: calc(100vh - 20px);
}

* {
    font-family: Fira Code;
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: unset;
}
